Include /etc/ssh/sshd_config.d/*.conf
Port 2222
AddressFamily any
ListenAddress ::
ListenAddress 0.0.0.0
HostKey /etc/ssh/ssh_host_ed25519_key
AuthorizedKeysFile .ssh/authorized_keys
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
AllowUsers wine
UsePAM no
X11Forwarding yes
X11UseLocalhost yes
XAuthLocation /usr/bin/xauth
AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding yes
PermitTunnel no
GatewayPorts no
SetEnv WINEPREFIX=/data/prefix WINEDEBUG=-all LANG=zh_CN.UTF-8 XDG_RUNTIME_DIR=/run/user/1000
Subsystem sftp /usr/lib/openssh/sftp-server
